.main1
{
	background-color: blue;
  box-shadow: 5px 1px 10px black;
  float: right;
  height: 500px;
  width:  1000px;
  margin-top:150px;
  margin-left: 400px;
    position: absolute;
     display: flex;
     flexDirection: column;
       alignSelf: initial;
         display: inline-block;
       text-align: left;
   }




.form1
{
	margin-top: 20px;

}
.search-input{
	background-color: white;
	margin-top: 10px;
}
.nav
{
	display: flex;
  align-items: center;
  list-style-type:none;
}
.main2
{
	  display: inline-block;
  color: #23C9FF;
  margin-bottom: 5px;
}
.main2:hover {
  text-decoration: underline;
}
