.main1
{
	background-color: #ADD8E6;
  box-shadow: 5px 1px 10px black;
  font-stretch: ultra-expanded;
  height: 500px;
  float:left;
  margin-top:20px;
    position: absolute;
     display: flex;
     flexDirection: column;
       alignSelf: initial;
         display: inline-block;
       text-align: left;
   }




.form1
{
	margin-top: 20px;

}
.search-input{
	background-color: white;
	margin-top: 10px;
}
.nav
{
	display: flex;
  align-items: center;
  list-style-type:none;
}
.main2
{
	  /*display: inline-block;
*/  color: black;
  margin-bottom: 5px;
}
.main2:hover {
  text-decoration: underline;
}
