.main1
{
	background-color: #ADD8E6;
  box-shadow: 5px 1px 10px black;
  font-stretch: ultra-expanded;
 width:100%;
 margin:0;
  margin-top: 600px;
  padding: 0;
     display: flex;
     flexDirection: column;
       alignSelf: initial;
         display: inline-block;
       text-align: left;

   }

.main10
{
  background-color: #ADD8E6;
  box-shadow: 5px 1px 10px black;
  width: 1000px;
  font: 30px arial, sans-serif;
  float:left;
  margin-top:600px;
    position: absolute;
     display: flex;
     flexDirection: column;
       alignSelf: initial;
         display: inline-block;
       text-align: left;
       text-decoration: none;
   }

.form1
{
	margin-top: 20px;

}
.search-input{
	background-color: white;
	margin-top: 10px;
}
.nav
{
  color: black;
	display: flex;
  align-items: center;
  list-style-type:none;
}
.main2
{
	  /*display: inline-block;
*/  color: black;
  margin-bottom: 5px;
}
.main2:hover {
  text-decoration: underline;
}


@media (max-width: 1500px)
{
  .main1{
    float:bottom;
    margin-top: 150px;
    padding:100;

  }
}